.about-section {
    min-height: 75vh;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(../data/images/about_back.jpeg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-right: 10vw;
    margin-left: 10vw;

    max-height: inherit;

    border: none;

    width: 840px;
}

.about-content h1, .about-content p {
    color: var(--rich-black);
    text-align: center;
    line-height: 2rem;
    margin-top: 1.5rem;
}

.about-content h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.about-content p {
    font-family: var(--font-roboto);
    font-size: 15px;
    font-weight: 300;
}

.about-content strong {
    color: var(--rich-black);
}

.about-content a {
    color: var(--rich-black);
}


.about-content {
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}

@media all and (max-width: 550px) {
    
    .about-container {
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-right: 2vw;
        margin-left: 2vw;
    
        overflow-y: visible;
    }
    
    .about-content h1, .about-content p {
        color: var(--rich-black);
        text-align: center;
        line-height: 1.85rem;
        margin-top: 1.5rem;
    }
    
    
    .about-content {
        padding: 1rem 2rem;
    }
}
